body {background-color:#6a1624;}

#wrapper {
    margin: 0 auto;
    width:80%;
    background-color:#fbefd8;
}

header {
    text-align:center;
}
nav ul {
    list-style: none;
    margin: 0 auto;
    width:80%;
    text-align:center;
}
nav li {
    display:inline;
    padding: 30px 30px;
    
}
nav a {
    text-decoration:none;
    font-size:150%;
}

main {
}